<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="cheatengine" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolateygui" />
  <package id="dbeaver" />
  <package id="dotnetfx" />
  <package id="filezilla" />
  <package id="GoogleChrome" />
  <package id="handbrake.install" />
  <package id="mRemoteNG" />
  <package id="notepadplusplus.install" />
  <package id="powertoys" />
  <package id="putty.install" />
  <package id="steam" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="vscode.install" />
</packages>
